<div class="row">
  <div class="col-xs-12">
    <app-home-slider></app-home-slider>
  </div>
  <div class="col-xs-12">
    <div class="app-title mgt-30 capitalize">
      Sản phẩm mới
    </div>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-3 mgt-30" *ngFor="let item of productNews">
    <app-product-item [itemProduct]="item">
    </app-product-item>
  </div>

  <div class="col-xs-12">
    <div class="app-title mgt-30 capitalize">
      Sản phẩm bán chạy
    </div>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-3 mgt-30" *ngFor="let item of productSaleHight">
    <app-product-item [itemProduct]="item">
    </app-product-item>
  </div>
</div>
