<div class="wrapper">
  <div class="container">
    <h1>Đăng nhập </h1>

    <form class="form" #formData="ngForm">
      <input type="text"   name="userName" placeholder="Tên đăng nhập " required ngModel>
      <input type="password" name="passWord" placeholder="Mật khẩu " required ngModel>
      <button type="submit" id="login-button" (click)="onSubmit(formData)">Đăng nhập</button>
    </form>
  </div>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
