<div class="title-entity">
  Danh sách tài khoản
</div>
<div>
  <button class="btn btn-primary" (click)="userModal.show()">Tạo một tài khoản </button>
  <div class="input-group" style="width: 300px;float: right">
    <input type="text" class="form-control" placeholder="Search ..." name="query"  [(ngModel)]="query" >
    <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="onSearch()">Go</button>
      </span>
  </div>
</div>

<div *ngIf="message.condition" [ngClass]="'alert alert-'+ message.type">
  {{message.content}}
</div>

<table class="table table-striped" [mfData]="listUser.toArray()" #mf="mfDataTable" [mfRowsOnPage]="5">
  <thead>
  <tr>
    <th>STT</th>
    <th>
      <mfDefaultSorter by="name" style="width: 10%">Họ tên</mfDefaultSorter>
    </th>
    <th>
      <mfDefaultSorter by="userName" style="width: 10%">Tên đăng nhập</mfDefaultSorter>
    </th>
    <th>
      <mfDefaultSorter by="enable" style="width: 5%">Kích hoạt</mfDefaultSorter>
    </th>
    <th>
      <mfDefaultSorter by="email" style="width: 10%">Email</mfDefaultSorter>
    </th>
    <th>
      <mfDefaultSorter by="phone" style="width: 10%">Số điện thoại</mfDefaultSorter>
    </th>
    <th>
      <mfDefaultSorter by="roles" style="width: 10%">Quyền</mfDefaultSorter>
    </th>
    <th style="width: 10%">
      Action
    </th>
  </tr>
  </thead>

  <tbody>

  <tr *ngFor="let item of mf.data;let idex = index">
    <td>{{idex+1}}</td>
    <td>{{item.name}}</td>
    <td>{{item.userName}}</td>
    <td>{{item.enable}}</td>
    <td>{{item.email}}</td>
    <td>{{item.phone}}</td>
    <td class="">{{item.roles}}</td>
    <td class="">
      <!--<span class="action action-edit" (click)="editItem(idex)"><i class="fa fa-shower"></i></span>-->
      <span class="action action-edit" (click)="editItem(formData,userModal,item)"><i class="fa fa-edit"></i></span>
      <span class="action action-remove" (click)="removeItem(item)"><i class="fa fa-remove"></i></span>
    </td>
  </tr>
  </tbody>

  <tfoot>
  <tr>
    <td colspan="4">
      <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
    </td>
  </tr>
  </tfoot>
</table>


<!--modal form -->
<div class="modal fade" bsModal #userModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Thông tin tài khoản </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="userModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div *ngIf="message.type">
          <div *ngIf="message.condition" [ngClass]="'alert alert-'+ message.type">
            {{message.content}}
          </div>
        </div>

        <form #formData="ngForm" (onSumit)="onSave(formData,userModal)">
          <div>
            <label for="name">Họ tên : </label>
            <input id="name" type="text" name="name" required class="form-control" #name="ngModel" ngModel>
            <div class="star" *ngIf="name.touched && name.value.trim() == 0">
              Chưa nhập họ tên
            </div>
          </div>

          <div>
            <label for="userName">Tên đăng nhập : </label>
            <input id="userName" type="text" name="userName" required class="form-control" #userName="ngModel" ngModel>
            <div class="star" *ngIf="userName.touched && userName.value.trim() == 0">
              Chưa nhập tên đăng nhập
            </div>
          </div>

          <div>
            <label for="passWord">Mật khẩu : </label>
            <input id="passWord" type="password" name="passWord" required class="form-control" #passWord="ngModel"
                   ngModel>
            <div class="star" *ngIf="passWord.touched && passWord.value.trim() == 0 ">
              Chưa nhập mật khẩu
            </div>
          </div>


          <div>
            <label for="rePassWord">Mật khẩu : </label>
            <input id="rePassWord" type="password" name="rePassWord" required class="form-control" #rePassWord="ngModel"
                   ngModel>
            <div class="star" *ngIf="rePassWord.touched && rePassWord.value !== passWord.value">
              Mật khẩu không trùng nhau
            </div>
          </div>

          <div>
            <label for="email">Email : </label>
            <input id="email" type="email" name="email" required class="form-control" #email="ngModel" ngModel>
            <div class="star" *ngIf="email.touched && passWord.value.trim() == 0 ">
              Chưa nhập email
            </div>
          </div>

          <div style="padding-bottom: 20px;">
            <label for="phone">Số điện thoại : </label>
            <input id="phone"  type="text" name="phone" required class="form-control" #phone="ngModel" ngModel>
            <div class="star" *ngIf="phone.touched && passWord.value.trim() == 0 ">
              Chưa nhập số điện thoại
            </div>
          </div>

          <div>
            <label for="enable">Kích hoạt : </label>
            <select  id="enable"  name="enable" class="form-control" #enable="ngModel" ngModel>
              <option value="true">Có</option>
              <option value="false">Không</option>
            </select>
          </div>


          <div>
            <label for="Role">Quyền : </label>
            <select   id="Role"  name="roles"class="form-control" #roles="ngModel" ngModel multiple>
              <option value="user">USER</option>
              <option value="admin">ADMIN</option>
            </select>
          </div>


        </form>

        <div class=" text-right">
          <button class="btn btn-success"  [disabled]="formData.invalid || passWord.value !== rePassWord.value" (click)="onSave(formData,userModal)">Lưu</button>
        </div>

      </div>
    </div>
  </div>
</div>
