.title-entity {
  color: #000000;
  /*background: #835cff;*/
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.action {
  line-height: 20px;

  padding: 5px;
  color: #fff;
  font-weight: bold;
  margin-right: 5px;
  cursor: pointer;
}

.action-edit {
  background: #5bc0de;
}


.action-remove {
  background-color: #E25A59;
}
.search{
  max-width: 200px;
  margin-left: auto;
  margin-bottom: 20px;
}
