
<div class="head-above">
  <div class="container">
    <div class="row">
      <div class="left">
        Chào mừng bạn đến với shop.com<i class="pdl-5 fa fa-clock-o"></i> {{dateNow | date: 'dd/MM/yyyy' }}
      </div>
      <div class="right">
        <a style="font-size: 16px;padding: 16px;color: #000;" *ngIf="!isLogin" (click)="loginModal.show()">
          <i class="fa fa-user-circle" aria-hidden="true"></i> Tài khoản
        </a>
        <div class="dropdown" style="display: inline-block" *ngIf="isLogin">
          <a data-toggle="dropdown">{{emailTemp}}
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/order']" routerLinkActive="active">Danh sách đơn hàng </a></li>
            <li><a (click)="changPassModal.show()">Thay đổi mật khẩu </a></li>
            <li><a (click)="onLogout()">Đăng xuất </a></li>
          </ul>
        </div>
        <a [routerLink]="['/shop']"> Giỏ hàng ( <span>{{amount}}</span> )<i class="fa fa-shopping-cart"></i></a>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div class="head-below">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <img src="../../../assets/images/logo/banner_blog.jpg-1.png" alt="" class="img-responsive">
      </div>
      <div class="col-md-2 hidden-xs hidden-sm">
        <div class="dp-table">
          <div class="icon">
            <i class="fa fa-phone dp-table-cell" aria-hidden="true"></i>
          </div>
          <div class="text-header  dp-table-cell">
            <p>
              <small style="font-size: 15px">Hotline</small>
              <br><span style="color:red">01644952648 <br>01644952648</span></p>
          </div>
        </div>

      </div>
      <div class="col-md-3 hidden-xs hidden-sm">
        <div class="dp-table">
          <div class="icon text-center " style="width: 35px">
            <i class="fa fa-map-marker dp-table-cell " aria-hidden="true"></i>
          </div>
          <div class="text-header  dp-table-cell">
            <p>Trâu Quỳ <br>
              Gia Lâm <br> Hà Nội </p>
          </div>
        </div>

      </div>
      <div class="col-xs-12 col-sm-8 col-md-4   text-center">
        <div class="row ">
          <form action="" class="form-search">
            <div class="col-xs-8  col-sm-10  col-md-9">
              <!--<form action="" #forms="ngForm">-->
              <input name="search" type="text" placeholder="Tìm kiếm sản phẩm " class="form-control" [(ngModel)]="search"
                     [ngModelOptions]="{standalone: true}">
              <!--</form>-->
            </div>
            <div class="col-xs-2  col-sm-1 col-md-3" style="text-align: right">
              <button class="btn btn-primary" (click)="onClick()">Tìm kiếm</button>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" bsModal #changPassModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left"> Thay đổi mật khẩu </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="changPassModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form #changPassForm="ngForm">
          <div class="mgb-10">
            <label for="passWord">Mật khẩu cũ <span class="star">*</span>: </label>
            <input id="ppassWord" name="passWord" type="password" required class="form-control"
                   #ppassWord="ngModel" ngModel>
            <div class="star" *ngIf="passWord.touched && passWord.value.trim().length == 0">
              Chưa điền mật khẩu
            </div>
          </div>

          <div class="mgb-10">
            <label for="newPass">Mật khẩu mới <span class="star">*</span>: </label>
            <input id="newPass" name="rePassWord" type="password" required class="form-control"
                   #newPass="ngModel"
                   ngModel>
            <div class="star" *ngIf="newPass.touched && newPass.value.trim().length < 8">
              Mật khẩu tối thiểu 8 kí tự
            </div>
          </div>


          <div class="mgb-10">
            <label for="reePassWord">Nhập lại khẩu mới <span class="star">*</span>: </label>
            <input id="reePassWord" name="reePassWord" type="password" required class="form-control"
                   #reePassWord="ngModel"
                   ngModel>
            <div class="star" *ngIf="reePassWord.touched && newPass.value != reePassWord.value">
              Mật khẩu không trùng nhau
            </div>
          </div>

          <div class=" text-right">
            <button [disabled]="changPassForm.invalid || newPass.value != reePassWord.value"
                    class="btn btn-success"
                    (click)="onChangePass(changPassForm,changPassModal)">Gửi
            </button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>


<!-- modal form register -->
<div class="modal fade" bsModal #registerModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Đăng kí một tài khoản khách hàng </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="registerModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <form #registerForm="ngForm" class="pdb-20">
          <div class="mgb-10">
            <label for="name">Họ tên <span class="star">*</span>: </label>
            <input id="name" name="fullName" type="text" required class="form-control" #fullName="ngModel" ngModel>
            <div class="star" *ngIf="fullName.touched && fullName.value.trim()  ==''">
              Tên không được trống
            </div>
          </div>

          <div class="mgb-10">
            <label for="email">Email <span class="star">*</span> : (Sử dụng để làm username khi đăng nhập) </label>
            <input id="email" name="email" type="email" required class="form-control" #email="ngModel" ngModel>
            <div class="star" *ngIf="(email.dirty || email.touched)&& email.invalid">
              Email không được trống
            </div>
          </div>
          <div class="mgb-10">
            <label for="passWord">Mật khẩu <span class="star">*</span>: </label>
            <input id="passWord" name="passWord" minlength="8" type="password" required class="form-control"
                   #passWord="ngModel" ngModel>
          </div>

          <div class="star" *ngIf="passWord.touched && passWord.value.trim().length < 8">
            Mật khẩu tối thiểu 8 kí tự
          </div>

          <div class="mgb-10">
            <label for="rePassWord">Nhập lại mật khẩu <span class="star">*</span>: </label>
            <input id="rePassWord" name="rePassWord" type="password" required class="form-control" #rePassWord="ngModel"
                   ngModel>
            <div class="star" *ngIf="rePassWord.touched && rePassWord.value!=passWord.value">
              Mật khẩu không trùng nhau
            </div>

          </div>

          <div style="padding-bottom: 20px;">
            <label for="phone">Số điện thoại <span class="star">*</span>: </label>
            <input id="phone" name="phone" type="text" required class="form-control" #phone="ngModel" ngModel>

            <div class="star" *ngIf="(phone.dirty || phone.touched)&& phone.invalid">
              Số điện thoại không được trống
            </div>
          </div>

          <div class="mgb-10">
            <label for="address">Địa chỉ <span class="star">*</span>: </label>
            <input id="address" name="address" type="text" required class="form-control" #address="ngModel" ngModel>
            <div class="star" *ngIf="(address.dirty || address.touched)&& address.invalid">
              Địa chỉ không được trống
            </div>
          </div>


          <div class=" text-right">
            <button [disabled]="registerForm.invalid" class="btn btn-success"
                    (click)="onRegister(registerForm,registerModal,loginModal)">Đăng kí
            </button>
          </div>

        </form>


      </div>
    </div>
  </div>
</div>
<!-- modal form login  -->

<div class="modal fade" bsModal #loginModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left"> Khách hàng đăng nhập </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="loginModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form [formGroup]="formDataLogin" class="pdb-20">

          <div class="mgb-10">
            <label for="emails">Email: </label>
            <input id="emails" type="email" required class="form-control" formControlName="email">
          </div>
          <div>
            <label for="passWords">Mật khẩu : </label>
            <input id="passWords" type="password" required class="form-control" formControlName="passWord">
          </div>
        </form>

        <div class=" text-right">
          <button class="btn btn-success" (click)="onLogin(loginModal)">Đăng nhập</button>
        </div>

        <a (click)="registerModal.show();loginModal.hide()">Chưa có tài khoản ? </a>
        <a (click)="forgetPass.show();loginModal.hide()">Quên mật khẩu ? </a>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" bsModal #forgetPass="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left"> Quên mật khẩu </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="forgetPass.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form>

          <div class="mgb-10">
            <label for="emailss">Nhập email của bạn : </label>
            <input id="emailss" type="email" name="emails" required class="form-control" #emails="ngModel"
                   [(ngModel)]="emailChange">
          </div>

          <div class=" text-right">
            <button class="btn btn-success" id="btn-forget-pass-clients" [disabled]="!emails.valid"
                    (click)="onForgetPassWord(forgetPass)">Gửi
            </button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
