.head-above {
  padding:  10px 0;
  background-color: #eee;
  font-size:15px;
  text-transform: capitalize;
}
.head-above .left{
  float:left;
  margin-left: 10px;
  /*width: 50%;*/
  text-align: left;
}

.head-above .right{
  float: right;
  width:50%;
  text-align: right;
  margin-right:10px;
}

.head-above .right a{
  color: #c91d67;
}

.head-below {
  padding-top: 15px;
}

.head-below .icon{
  width: 50px;
  font-size: 40px;
  text-align: center;
}
.head-below .icon {
  color: green;
  vertical-align: top;
}

.head-below input[type='text'] {
  padding:20px;
  border-radius: 5px;
}

.head-below button{
  padding:10px;
}

.dp-table {
  display: table;
}
.dp-table-cell {
  display: table-cell;
}
.text-header{
  vertical-align: top;
}

@media (max-width: 767px) {
  .head-above {
    padding:  5px 0;
  }
  .form-search {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    margin-top: 20px;
  }

}
