<div class="shop-title">
  <div class="app-title">
    Thông tin giỏ hàng
  </div>
</div>
<table class="table table-bordered mgt-30">
  <thead>
  <tr>
    <td>STT</td>
    <td>Ảnh</td>
    <td>Sản phẩm</td>
    <td>Đơn giá (VND)</td>
    <td>Số lượng</td>
    <td>Thành tiền (VND)</td>
    <td> Xóa sản phẩm</td>
  </tr>
  </thead>

  <tbody >
  <tr *ngFor="let item of list;let inx = index;">
    <td>{{inx+1}}</td>
    <td><img [src]="item.product.imagePath"></td>
    <td>{{item.product.name}}</td>
    <td >{{productService.getMoney(item.product)}}</td>
    <td class="amount"><input name="{{inx}}" id="{{'item'+i}}" type="number" min="1" [value]="item.amount" [(ngModel)]="item.amount"  (change)="onChange()" ></td>
    <td>{{productService.getMoney(item.product)*item.amount}}</td>
    <td><a title="Xóa sản phẩm" (click)="removeItem(inx)"><i class="fa fa-remove " style="font-size: 20px"></i></a></td>
  </tr>
  </tbody>
</table>
<div class="text-right">
  <p>Tổng tiền : <span>{{money}}</span></p>
</div>

