<div class="row pdt-15 pdb-15">
  <div class="col-xs-12 col-sm-6 col-md-2">
    <div class="item ">
      <div class="foot-title">
        ĐƯỢC CHỨNG NHẬN
      </div>
      <img src="../../../../assets/images/logo/register_logo.png" alt="" class="img-responsive pdb-15">
      <div class="foot-title">
        CHẤP NHẬN THANH TOÁN
      </div>
      <img src="../../../../assets/images/logo/payment-300x61.png" alt="" class="img-responsive">
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="item ">
      <div class="foot-title">
        FANPAGE
      </div>
    </div>
  </div>


  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="item ">
      <div class="foot-title">
        THÔNG TIN LIÊN HỆ
      </div>
      <p><i class="fa fa-map-marker pdr-5"></i> <strong>Địa chỉ :</strong> Hậu Dưỡng, Kim Chung, Đông Anh, Hà Nội</p>
      <p><i class="fa fa-phone pdr-5"></i> <strong>Điện thoại :</strong> 098.220.5752/ 0972.233.328</p>
      <p><i class="fa fa-envelope pdr-5"></i> <strong>Email : 4eva.vn@gmail.com</strong></p>
      <p><i class="fa fa-globe pdr-5"></i> <strong>Website :</strong> 4eva.vn</p>
    </div>
  </div>


  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="item ">
      <div class="foot-title">
        HƯỚNG DẪN MUA HÀNG
      </div>
      <ul>
        <li><a href="">Chính sách thanh toán</a></li>
        <li><a href="">Chính sách thanh toán</a></li>
        <li><a href="">Chính sách thanh toán</a></li>
        <li><a href="">Chính sách thanh toán</a></li>
      </ul>
    </div>
  </div>
</div>

