thead {
  background-color: #2B4A91;
  color: #ffffff;
}

tr td {
  vertical-align: middle;
  text-align: center;
}

img {
  max-width: 100px !important;
}

td.image{
  width: 200px !important;
}

tbody {
  max-height: 50px;
  overflow-y: scroll;
}

.amount > input {
  text-align: center;
  width: 50px;
}

td.amount {
  width: 100px;
  text-align: left;
}

td {
  text-align: left !important;
  max-width: 200px !important;
}

thead tr th, tr td {
  vertical-align: middle !important;
}

tbody tr:hover {
  cursor: pointer !important;
  background: #d6dea4 !important;
}


