<div class="col-xs-12">
  <h1 class="capitalize"> Giới thiệu </h1>
  <hr>
</div>
<div class="col-xs-12">
  <div class="intro-image">
    <img src="../../../assets/images/intro.jpg" alt="shop.com">
  </div>
  <div class="content">
    <p>
      Làm đẹp luôn là nhu cầu cơ quan trọng của phái đẹp, thấu hiểu nhu cầu đó Cosmetic ra đời nhằm mang đến cho phái đẹp những sản phẩm chất lượng với chủng loại đa dạng.
    </p>
    <p>Cosmetic chuyên cung cấp mỹ phẩm thiên nhiên bao gồm chăm sóc da, chăm sóc tóc, chăm sóc toàn thân, chăm sóc cá nhân, nước hoa … đến từ các thương hiệu nổi tiếng trên thế giới. Ngoài ra Cosmetic còn có đội ngũ chuyên gia về chăm sóc sắc đẹp sẽ tư vấn chuyên sâu cho bạn về da, tóc, toàn thân giúp bạn lựa chọn được sản phẩm phù hợp nhất và mang đến vẻ ngoài đầy tự tin và cuốn hút, ai cũng có thể tự tin diện những bộ trang phục yêu thích như đầm công sở, đầm dạ tiệc, áo sơ mi, quần tây nam khi đi làm hoặc áo thun nam, áo thun nữ.</p>
    <p>Khi việc tìm mua mỹ phẩm chính hãng tại các shop mỹ phẩm online hoặc tại cửa hàng vẫn còn là vấn đề nan giải thì Cosmetics chính là điểm đến đáng tin cậy của bạn. Với tiêu chí mang đến cho người dùng các loại mỹ phẩm tốt hay mỹ phẩm từ thiên nhiên chính hãng, Cosmetics chỉ bán sản phẩm của những thương hiệu uy tín trong nước và trên thế giới với giá thành vô cùng hợp lý. Bên cạnh đó Cosmetics hỗ trợ giao hàng cực nhanh, thanh toán khi nhận hàng.</p>
  </div>
  <div class="clearfix"></div>
</div>
