input[type='text'],input[type='email']{
  padding: 5px 10px;
  width:100%;
}
textarea{
  width:100%;
  height: 150px;
  resize: none;
}

button{
  padding: 10px 25px;
  background-color: #2B4A91;
  color: #ffffff;
  border: none;
}
.star{
  color: red;
}
