<div class="app-title capitalize">
  DANH MỤC SẢN PHẨM
</div>
<ul class="catalogy">

  <li>
    <a href="javascript:void(0)" routerLinkActive="active" (click)="openMP('mplp','icon-plus1')" slide-bar-directive >
      Mỹ phẩm làm đẹp
      <span class="togo"><i class=" fa fa-plus-square-o icon-plus1" aria-hidden="true"></i></span>
    </a>
    <ul class="catalogy mplp catalog-child ">
      <li><a href="javascript:void(0)" routerLinkActive="active" (click)="openProductByCatalog('SM')">Son môi</a></li>
      <li><a href="javascript:void(0)" routerLinkActive="active" (click)="openProductByCatalog('SRM')">Sữa rửa mặt</a>
      </li>
      <li><a href="javascript:void(0)" routerLinkActive="active" (click)="openProductByCatalog('TD')">Trang điểm</a>
      </li>
    </ul>
  </li>

  <li><a href="javascript:void(0)" routerLinkActive="active" (click)="openMP('cstt','icon-plus2')">Chăm sóc toàn
    thân
    <span class="togo"><i class="fa fa-plus-square-o icon-plus2" aria-hidden="true"></i></span>
  </a>
    <ul class="catalogy cstt catalog-child">
      <li><a href="javascript:void(0)" routerLinkActive="active" (click)="openProductByCatalog('DTDTT')">Dưỡng trắng da
        toàn thân</a></li>
      <li><a href="javascript:void(0)" routerLinkActive="active" (click)="openProductByCatalog('KDT')">Kem dưỡng thể</a>
      </li>
      <li><a href="javascript:void(0)" routerLinkActive="active" (click)="openProductByCatalog('ST')">Sữa tắm</a></li>
    </ul>
  </li>

  <li><a href="javascript:void(0)" routerLinkActive="active" (click)="openMP('nh','icon-plus3')">Nước Hoa
    <span class="togo"><i class="fa fa-plus-square-o icon-plus3" aria-hidden="true"></i></span>
  </a>
    <ul class="catalogy nh catalog-child">
      <li><a href="javascript:void(0)" routerLinkActive="active" (click)="openProductByCatalog('NHM')">Nước hoa nam</a>
      </li>
      <li><a href="javascript:void(0)" routerLinkActive="active" (click)="openProductByCatalog('NHN')">Nước hoa nữ</a>
      </li>
    </ul>
  </li>

  <li><a href="javascript:void(0)" routerLinkActive="active" (click)="openProductByCatalog('DH')">Đồng hồ</a></li>
  <li><a href="javascript:void(0)" routerLinkActive="active" (click)="openProductByCatalog('TS')">Túi xách</a></li>
  <li><a href="javascript:void(0)" routerLinkActive="active" (click)="openProductByCatalog('TPBS')">Thực phẩm bổ
    sung</a></li>
</ul>
