<section class="regular slider">
  <div>
    <img src="../../../../assets/images/slide-home/banner-bg2-918x366-918x360.jpg" class="img-responsive">
  </div>
  <div>
    <img src="../../../../assets/images/slide-home/set-nuoc-hoa-nu-chanel-5-chai-quyen-ru-sang-trong-1m4G3-set-nuoc-hoa-channel-5-chai-1m4G3-nuoc_hoa_chanel_01_2jndbmi7q6j1b.jpg" class="img-responsive">
  </div>
  <div>
    <img src="../../../../assets/images/slide-home/026d01f955506dce2c9bcfbc6c158e26.jpg" class="img-responsive">
  </div>
  <div>
    <img src="../../../../assets/images/slide-home/mypham-3.jpg" class="img-responsive">
  </div>
  <div>
    <img src="../../../../assets/images/slide-home/cyd1437620629.jpg" class="img-responsive">
  </div>
  <div>
    <img src="../../../../assets/images/slide-home/images.jpg" class="img-responsive">
  </div>
  <div>
    <img src="../../../../assets/images/slide-home/images (1).jpg" class="img-responsive">
  </div>
</section>
