
<div class="nav-xs container">
  <div class="open-nav-bar" (click)="toggleNavbar()">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<div class="container   ">
  <div class="row">
       <div class="app-nav">
         <ul>
           <li><a href="#"><i class="fa fa-home" aria-hidden="true" style="padding-right: 5px"></i>Trang chủ</a></li>
           <li><a routerLink="/product">Sản phầm</a></li>
           <li><a routerLink="/intro">Giới thiệu</a></li>
           <li><a routerLink="/policy" >Chính sách đại lý</a></li>
           <!--<li class="text-center tt"><a href="#" >Thanh toán</a></li>-->
           <li class="text-center tt"><a href="#" >Tin tức</a></li>
           <li><a href="#">Liên hệ</a></li>
         </ul>
       </div>
  </div>
</div>
